// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Buefy
@import '~buefy/dist/buefy.css';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

[v-cloak] {
    display: none;
}

.table.is-borderless td, .table.is-borderless th {
    border: 0;
}
